<!DOCTYPE html>
<html>
<head>
    <title>Add User</title>
</head>
<body>
    <h1>Add User Data</h1>
    <form method="POST">
        <label>Name:</label><br>
        <input type="text" name="username"><br><br>

        <label>Favorite Quote:</label><br>
        <textarea name="quote"></textarea><br><br>

        <label>Advice:</label><br>
        <textarea name="advice"></textarea><br><br>

        <button type="submit">Submit</button>
    </form>
    <br>
    <a href="/output">View All Users</a>
</body>
</html>
